@import url("https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css");

:root {
  --color0: #f0f0f0;
  --color1: #091540;
  --color2: #7692ff;
  --color3: #abd2fa;
  --color4: #3d518c;
  --color5: #1b2cc1;
  --color6: #002673;
  --color7: #085866;
}

body {
  margin: 0;
  padding: 0px;
  background-color: var(--color1);
  scroll-behavior: smooth;
}
header {
  background-color: var(--color1);
  width: auto;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin: 10px;
  padding: 10px;
  display: flex;
  gap: 9px;
  display: flex;
  flex-wrap: wrap;
  /* visibility: hidden; */
}

.sidenav {
  height: fit-content; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 40px; /* Stay at the top */
  right: 0;
  background-color: var(--color4); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sid-btn img {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
}
.sidenav a {
  padding: 8px 8px 5px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color0);
  display: block;
  grid-template-columns: auto auto auto;
  transition: 0.3s;
}

.links-2 {
  margin: 10px;
  padding: 10px;
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.sidenav .closebtn {
  position: absolute;
  top: 5;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
  background-color: transparent;
}

header div h1 {
  color: var(--color0);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-left: #085866 3px solid;
  margin-left: 2rem;
  transition: background-color 0.2s ease;
  &:active {
    background-color: var(--color2);
  }
}

header div a {
  text-decoration: none;
  color: var(--color0);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

header div a:hover,
header div h1:hover {
  background-color: var(--color2);
  color: var(--color0);
  transition: color 0.2s ease;
}

header div h1:hover {
  transition: background-color 0.2s ease;
}

header div a:active {
  color: var(--hhv);
  background-color: var(--color3);
}

nav {
  background-color: var(--color1);
  color: var(--color0);
  display: grid;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 56rem;
  padding-top: 70px;
}

nav div h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 5px solid red; */
  margin-top:10px

}

nav div div img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 20px;
  border-radius: 50%;
  justify-self: center;
  border: 5px solid var(--color0);
  transition: transform 0.2s ease;
  &:hover {
    border-color: var(--color1);
    transform: scale(1.05);
  }
}

nav div p {
  font-size: 2rem;
  text-align: center;
}

#about {
  background-color: var(--color2);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60rem;
}

.grid-contanier-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  flex-wrap: wrap;
  grid-gap: 50px;
  padding: 20px;
  /* border: 5px solid red; */
  justify-content: center;
  align-items: center;
}
#about h2 {
  font-size: 4rem;
}

#about p {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
}

#about img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border: #091540 5px solid; */
  border-radius: 5px;
}

#about .box-img-2 {
  width: 120%;
  height: auto;
  object-fit: cover;
  /* border: #091540 5px solid; */
  border-radius: 5px;
}

.skills {
  background-color: var(--color1);
  color: var(--color0);
  /* flex-direction: column; */
  height: 56rem;
}

.skills-conten {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-conten h3 {
  font-size: 4rem;
}

.grid-contanier {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  flex-wrap: wrap;
  grid-gap: 20px;
  padding: 20px;
  /* border: 5px solid red; */
  justify-content: center;
  align-items: center;
}
.grid-contanier img {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color2);
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease;
  &:hover {
    cursor: pointer;
    border-color: var(--color1);
    transform: scale(1.04);
  }
}
.box h3 {
  font-size: 2rem;
}

#projects {
  background-color: var(--color2);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60rem;
}

#projects h2 {
  font-size: 4rem;
}

.grid-contanier-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  flex-wrap: wrap;
  grid-gap: 20px;
  padding: 20px;
  /* border: 5px solid red; */
  justify-content: center;
  align-items: center;
}

.grid-contanier-projects img {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

#projects .grid-contanier-projects .box-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color1);
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease;
  &:hover {
    cursor: pointer;
    border-color: var(--color1);
    transform: scale(1.04);
  }
}

#projects .grid-contanier-projects .box-projects h3 {
  font-size: 1.9rem;
}
#projects .grid-contanier-projects .box-projects p {
  font-size: 1.2em;
}

#volunteering {
  background-color: var(--color1);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60rem;
  flex-grow: 1;
  margin-bottom: 10px;
}

#volunteering h3 {
  font-size: 2.5rem;
}
#volunteering h2 {
  font-size: 4rem;
}

#volunteering p {
  font-size: 1.5rem;
}

#volunteering .box-vol {
  /* border: red 4px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color2);
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--color5);
  }
}

#resume {
  background-color: var(--color2);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60rem;
  flex-grow: 1;
  margin-bottom: 10px;
}

#resume h2 {
  font-size: 5rem;
  margin-bottom: 10px;
}

#resume p {
  font-size: 2rem;
}
#resume button {
  padding: 10px 20px;
  background-color: var(--color1);
  color: var(--color0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease;
  &:hover {
    border-color: var(--color1);
    transform: scale(1.04);
  }
}

#contact {
  background-color: var(--color1);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60rem;
  flex-grow: 1;
  margin-bottom: 10px;
}

#contact h2 {
  font-size: 5rem;
}

#contact p {
  font-size: 2rem;
}

#contact form {
  margin-top: 20px;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(36, 149, 224);
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 0px 40px rgb(36, 149, 224);
  }
}

#contact form textarea {
  height: 150px;
}

#contact form button {
  padding: 10px 20px;
  background-color: var(--color2);
  color: var(--color0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(36, 149, 224);
  &:hover {
    background-color: var(--color5);
  }
}

.footer {
  background-color: var(--color2);
  color: var(--color0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
}

.footer p {
  font-size: 1.5rem;
}

.footer i {
  margin-right: 10px;
  font-size: 30px;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color2);
  }
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .links {
    flex-direction: row;
    border: 1px solid var(--color0);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .links {
    display: none;
  }
  .sid-btn img{
    display:flex;
  }

  nav div h1 {
    /* border: 1px solid var(--color0); */
    font-size: 2.5rem;
    margin: 30px 30px;
  }
  nav p {
    /* border: 1px solid var(--color0); */
    border-radius: 5px;
    margin: 30px 30px;
  }

  header .logo h1 a {
    padding: 20px;
  }
  #home,
  #about,
  #projects,
  #volunteering,
  #resume {
    height: fit-content;
  }
  #home h1 {
    font-size: rem;
    text-align: center;
  }
  .skills {
    height: fit-content;
  }

  #resume button {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #about h2,
  #projects h2,
  #volunteering h2,
  #resume h2 {
    font-size: 3rem;
  }
}
